
.navigationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 590px) {
  .navigationContainer {
    display: none;
  }
}

.mobileButton {
  display: none;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 590px) {
  .mobileButton {
    display: block;
  }
}


.buttonGoOut{
  position: absolute;

}
