.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 590px) {
  .header{
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
  }
}
